
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
{% endblock stylesheets %}
{% block main %}
        <div id="header">
            <p><h1>Sentence Generator</h1></p>

        <div id="subtitle">
            <p><h3> by Henry Friedlander</h3></p>
        </div>

        <div id="button">
            <p> <a href = "/sentence/generate">Generate a Sentence!</a></p>
        </div>

        <div id="button">
            <p> <a href = "/sentence/quiz">Quiz Mode</a></p>
        </div>

        <div id="button">
            <p> <a href = "/sentence/about">About</a></p>
        </div>

        <div id="button">
            <p> <a href = "/sentence/teacher">Teacher Login</a></p>
        </div>
{% endblock main %}