
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sentenceGen/homeStyle.css' %}" />  
{% endblock stylesheets %}

{% block main %}

<div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 centered-text">
            <div id="header">
                <p><h1>Grammatica Academy</h1></p>

                <div id="subtitle">
                    <p><h3> A Grammar Learning Tool </h3></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="btn-group btn-matrix">
                {% for exercise in exercises %}
                    <input type="button" class="btn btn-default" onclick="location.href='{% url 'exercise' exerciseID=exercise.exerciseID question_counter=0 %}'" value="{{ exercise.name }}" />
            {% endfor %}
            </div>
        </div>
    </div>  
</div>
{% endblock main %}