{% extends "base.html" %}
{% block title %}Lightning{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sentenceGen/quizStyle.css' %}" />
{% endblock stylesheets %}
{% block main %}
    <h1>Lightning Round</h1>
        <h4 id="sentence"> {{ sentence }} </h4>
        <p> {{ question.text }} </p>
        <form action="/sentence/scoreQuestion/{{ question.pk }}/{{ mode }}/" method="post">
        {% csrf_token %}
        {% for word in question.word_set.all %}
            <input type="checkbox" name="word{{ forloop.counter}}" id="word{{ forloop.counter }}" value = "{{ word.id }}" />
            <label for="word{{ forloop.counter }}"> {{ word.word }} </label><br />
        {% endfor %}
        <input type="submit" value="Score" />
        </form>
{% endblock main %}