{% if active == 'generate' %}
<li class="active" id="generate"><a href="{% url 'generate' %}">Generate a Sentence!</a></li>
{% else %}
<li><a href="{% url 'generate' %}">Generate a Sentence!</a></li>
{% endif %}

{% if active == 'quiz' %}
<li class="active" id="quiz"><a href="{% url 'quiz' %}">Quiz Mode</a></li>
{% else %}
<li><a href="{% url 'quiz' %}">Quiz Mode</a></li>
{% endif %}

{% if active == 'about' %}
<li class="active" id="about"><a href="{% url 'about' %}">About</a></li>
{% else %}
<li><a href="{% url 'about' %}">About</a></li>
{% endif %}

{% if active == 'teacher' %}
<li class="active" id="teacherLogin"><a href="{% url 'teacherLogin' %}">Teacher Login</a></li>
{% else %}
<li><a href="{% url 'teacherLogin' %}">Teacher Login</a></li>
{% endif %}