{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'sentenceGen/quizStyle.css' %}" />
{% endblock stylesheets %}
{% block main %}
        <p>QUIZ</p>
        <h4 id="sentence"> {{ sentence }} </h4>
        <p> Choose all the {{ mode }}s </p>
        <p> {{ quiz.teacher }} </p>
        <form action="/sentence/submit/{{ quiz.pk }}/{{ question.pk }}/" method="post">
        {% csrf_token %}
        {% for word in question.word_set.all %}
            <input type="checkbox" name="word{{ forloop.counter}}" id="word{{ forloop.counter }}" value = "{{ word.id }}" />
            <label for="word{{ forloop.counter }}"> {{ word.word }} </label><br />
        {% endfor %}
        <input type="submit" value="Next" />
        </form>
{% endblock main %}