{% extends "base.html" %}
{% block title %}Teacher{% endblock %}

{% block stylesheets %}
    {% load staticfiles %}
{% endblock stylesheets %}
{% block main %}
        <p>Hello {{ teacher.code }}!</p>
        <div>
            <table style = "width:100%" border = "1">
            <tr>
                <th> Student Name </th>
                <th> Quiz Mode </th>
                <th> Quiz Score </th>
            </tr>
            {% for quiz in quizzes %}
            <tr>
                <td> {{ quiz.name }} </td>
                <td> {{ quiz.mode }} </td>
                <td> {{ quiz.score }} </td>
            </tr>
            {% endfor %}
            </table>
        </div>
{% endblock main %}