
h1 {
  font-size: 80px;
    color: #ffffff;
    padding-top: 10px;
    display: inline;
}

h3 {
    color: #ffffff;
    padding-top: 12px;
    display: inline;
}


p {
    text-align: center;
}

#front-page-img { 
  background: url(https://static.pexels.com/photos/2318/vintage-technology-keyboard-old.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
height: 100vh;
}
