
h1 {
  font-size: 80px;
    color: #fff000;
    padding-top: 10px;
    display: inline;
}

h3 {
    color: #37e82e;
    padding-top: 12px;
    display: inline;
}


p {
    text-align: center;
}

#front-page-img { 
  background: url(../pictures/bg_1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
height: 100vh;
}
